<header class = "header">
    <img src="./images/logo.png" alt="Palo Alto" class="header__title">
    <div class = "header-nav">
        <a class="header-nav__link" href="index.html">HOME</a>
        <a class="header-nav__link" href="profile.html">PROFILE</a>
        <a class="header-nav__search" href="index.html"></a>
    </div>
    <div class="header-menu"></div>
</header>