<header class = "header">
    <h1 class="header__title">Palo Alto</h1>
    <div class = "header-nav">
        <a class="header-nav__link" href="index.html">HOME</a>
        <a class="header-nav__link" href="profile.html">PROFILE</a>
        <a class="header-nav__search" href="index.html"></a>
    </div>
</header>