<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="keywords" content="7bits, Омск" />
    <meta name="description" content="7bits courses" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Palo Alto</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="shortcut icon" type="image/png" href="./images/favicon-32x32.png" sizes="32x32">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script>
    <script src="./scripts/scripts.js"></script>
</head>
<body>
    {{> includes/header/header}}

    {{#> main-block}}
    {{/main-block}}

    {{> includes/footer/footer}}
</body>
</html>