.main {
	display: block;
}

.posts{
  width: 952px;
  height: auto;
  margin: auto;
  
}

.post {
	width: 100%;
	margin-bottom: 50px;
	background-color: #ffffff;
	box-sizing: border-box;
  	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

.post-photo {
  width: 100%;
  height: 100%;
}

.post-data {
	width: 756px;
	height: auto;
	margin: 0px 97px 80px 97px;
	
	padding-top: 20px;
	padding-bottom: 80px;
}

.head {
  	display: block;
  	
  	
  	&__mark {
  		display: block;
  		width: auto;
  		margin: 0 -109px 0 765px;
  		
  		background-color: #5c6bc0;
  		color:  #ffffff;
  		font-size: 13px;
		padding: 10px 12px 10px 12px;
		border: none;
		outline: none;
  	}
  	&__date {
  		display: block;
  		margin-top: 58px;
  		color:  #bdbdbd;
  		font-size: 14px;
  		line-height: 50px;
  		text-align: left;
		
  	}
  	&__title {
  		font-family: "Lato", serif;
  		font-size: 40px;
  		font-weight: 700;
  		line-height: 50px;
  		text-align: left;
	
  	}
  	&__divider {
  		border-bottom: 2px solid #eeeeee;
  		margin-top: 48px;
  		margin-bottom: 48px;
  	}
}

.text{
	font-family: "Lato", serif;
	font-size: 17px;
  	font-weight: 400;
  	line-height: 30px;
	color: #414141;
}

.text-quote {
	font-family: "Lato", serif;
  	color: #7f7f7f;
  	margin-bottom: 46px;
  	font-size: 25px;
  	font-style: italic;
	line-height: 38px;
}

.foot {
	margin-top: 58px;

}

.button {
	display: inline-block;
  text-decoration: none;
	margin-left: -35px;
  	width: 189px;
  	height: 52px;
  	background: none;
  	color: #5c6bc0;
  	font-family: "LatoBold", serif;
  	font-size: 21px;
  	text-transform: uppercase;
  	outline: 0;
  	border: 1px solid #ffffff;

  	&:hover{
    	border-color: #f1f1f1;
  	}
  	&:active{
    	border-color: #7d89cd;
  	}
}

.hashtag {
	display: inline-block;
	float: right;
}
.hashtag_link {
  	text-decoration: none;
  	color:  #b2b2b2;
  	font-size: 15px;
  	font-weight: 400;
  	line-height: 50px;
  	margin: 0 10px 0 0;
  	float: left;

	&:hover {
  	color:  #5c6bc0;
	}
}
