<footer class = "footer">
    <div class = "footer__title">Palo Alto</div>
    <div class = "footer-nav">
        <a class = "footer-nav__link" href="index.html">home</a>
        <a class = "footer-nav__link" href="profile.html">profile</a>
        <a class = "footer-nav__search" href=""></a>
    </div>
    <div class = "footer__copyright"><span>© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by</span>PixelBuddha Team</div>
    <div class="social-net">
        <div class="social-net__block">
            <a class="social-net__link social-net__link_facebook" href=""></a>
        </div>
        <div class="social-net__block">
            <a class="social-net__link social-net__link_twitter" href=""></a>
        </div>
        <div class="social-net__block">
            <a class="social-net__link social-net__link_instagram" href=""></a>
        </div>
        <div class="social-net__block">
            <a class="social-net__link social-net__link_pinterest" href=""></a>
        </div>
    </div>
</footer>