<footer class = "footer">
    <div class = "footer__title">
        <img class="footer__logo" src = "./images/logo_footer.png" alt = "Palo Alto">
    </div>
    <div class = "footer-menu">
        <a class = "footer-menu__link" href="index.html">home</a>
        <a class = "footer-menu__link" href="profile.html">profile</a>
        <a class = "footer-menu__search" href=""></a>
    </div>
    <div class = "footer__copyrights">
        © 2015 - Palo Alto. All Rights Reserved. Designed & Developed by
        <a href = "" target = "">PixelBuddha Team</a>
    </div>
    <div class="social-network">
        <div class="social-network__block">
            <a class="social-network__link social-network__link_facebook" href="http://facebook.com"></a>
        </div>
        <div class="social-network__block">
            <a class="social-network__link social-network__link_twitter" href="http://twitter.com"></a>
        </div>
        <div class="social-network__block">
            <a class="social-network__link social-network__link_instagram" href="http://instagram.com"></a>
        </div>
        <div class="social-network__block">
            <a class="social-network__link social-network__link_pinterest" href="http://pinterest.com"></a>
        </div>
    </div>
</footer>