/*@import '../../../variables';*/

.footer {
  width: 100%;
  height: auto;
  margin: 105px 0 0 0;
  padding-bottom: 70px;
  background-color: #5c6bc0;
  text-align: center;
  &__title {
    padding-top: 70px;
    font-family: "LatoBold", serif;
    font-style: italic;
    font-size: 36px;
    color: #4a569a;
  }
  &__logo {
    margin: auto;
    padding-top: 70px;
  }
  &-menu {
    margin: 64px 0 69px 0;
    font-family: "Lato", serif;
    font-size: 16px;
    text-transform: uppercase;
    word-spacing: 40px;
    color: #fff;
    text-align: center;
    display: inline-block;
    &__link {
      text-decoration: none;
      color: inherit;
    }
    &__search {
      width: 16px;
      height: 16px;
      background: url(./images/search_light.png);
      display: inline-block;
    }
  }
  &__copyrights {
    margin-bottom: 40px;
    font-family: "Lato", serif;
    font-size: 14px;
    color: #8d98d4;
    & a{
      font-family: "LatoBold", serif;
      color: #fff;
      text-decoration: none;
    }
  }
}

.social-network {
  width: 200px;
  margin: 0 auto;
  list-style: none;
  &__block {
    height: 22px;
    margin-right: 5px;
    padding: 10px;
    display: inline-block;
  }
  &__link {
    width: 22px;
    height: 22px;
    background-size: 88px 22px;
    background: url("./images/social-networks.png") no-repeat center;
    display: inline-block;
    &_facebook {
      background-position: 0 0;
    }
    &_twitter {
      background-position: -22px 0;
    }
    &_instagram {
      background-position: -44px 0;
    }
    &_pinterest {
      background-position: -66px 0;
    }
  }
}
