@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold.eot'), url('../fonts/Lato-Bold.ttf') format('truetype');
    src: url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-BoldItalic.eot'), url('../fonts/Lato-BoldItalic.ttf') format('truetype');
    src: url('../fonts/Lato-BoldItalic.woff') format('woff'), url('../fonts/Lato-BoldItalic.woff2') format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot'), url('../fonts/Lato-Regular.ttf') format('truetype');
    src: url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.woff2') format('woff2');
    font-style: normal;
}