@import 'variables';

.footer{
  margin: 105px 0 0 0;
  height: 160px;
  width: 100%;
  background-color: $footer-background-color;

  &__title{
    padding-top: 70px;
    font-family: $LatoBold-font-family;
    font-style: $font-style-italic;
    font-size: $footer-font-size;
    color: $footer-color;
    text-align: center;
  }
}