$body-background-color: #f7f9fc;
$LatoBold-font-family: "LatoBold", sans-serif;
$header-color: #333333;
$header-font-size: 30px;
$footer-background-color: #5c6bc0;
$footer-color: #4a569a;
$footer-font-size: 27px;

$font-style-italic: italic;
$font-style-normal: normal;

$cv-background-color: #ffffff;
$cv-box-sizing-border-box: border-box;
$cv-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
$cv-title-font-size: 29px;
$cv-title-color: #333333;

$cv-divider-background: #eeeeee;

$cv__table__row-name-font-size: 15px;
$cv__table__row-name-color: #000000;
$cv__table__row-input-border: 1px solid #ffffff;

$cv__table__row-input-font-size: 15px;
$cv__table__row-input-color: #5b5b5c;
$cv__table__row-input-background-color: #f7f9fc;

$cv__table__radio-name-font-size: 15px;
$cv__table__radio-name-color: #000000;

$cv__table-submit-background: none;
$cv__table-submit-color: #5c6bc0;
$cv__table-submit-font-size: 16px;
$cv__table-submit-border: 1px solid #ffffff;

$cv__table-submit-hover-border-color: #f1f1f1;
$cv__table-submit-active-border-color: #7d89cd;